/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */
/* ---------- Add/remove page ---------- */
.modify-pages li {
  position: relative;
  display: inline-block; }
.modify-pages .delete-tab {
  background: #333333 url(../images/portlet/close_borderless.png) no-repeat 50%;
  cursor: pointer;
  display: block;
  height: 8px;
  margin-top: -7px;
  padding: 3px;
  position: absolute;
  right: 1px;
  text-indent: -9999em;
  top: 50%;
  width: 8px; }

/**********Body************/
body {
  position: relative;
  left: 120px;
  width: 80%;
  background: #6666CC;
  font: 62.5%/1.4 Arial, Helvetica, Verdana, sans-serif; }

/* ---------- Logo ---------- */
.logo {
  display: inline-block;
  line-height: 1;
  text-align: center;
  width: 100%; }

/* ---------- Navigation portlet ---------- */
.nav-menu {
  text-align: right; }
  .nav-menu ul {
    padding-left: 10px; }
  .nav-menu li a.ancestor {
    font-weight: bold; }
  .nav-menu li a.selected {
    color: #000;
    font-weight: bold;
    text-decoration: none; }

