/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */
/* ---------- Add/remove page ---------- */
.modify-pages {
  text-align: right; }
  .modify-pages li {
    position: relative;
    display: inline-block; }
  .modify-pages .delete-tab {
    background: #333333 url(../images/portlet/close_borderless.png) no-repeat 50%;
    cursor: pointer;
    display: block;
    height: 8px;
    margin-top: -7px;
    padding: 3px;
    position: absolute;
    right: 1px;
    text-indent: -9999em;
    top: 50%;
    width: 8px; }

/**********Body************/
body {
  position: relative;
  left: 120px;
  width: 80%;
  background: white;
  font: 62.5%/1.4 Arial, Helvetica, Verdana, sans-serif; }

#wrapper {
  background: white;
  position: relative;
  top: 55px; }

#banner {
  background: url(../images/header-chilli.jpg) no-repeat center; }

/* ---------- Logo ---------- */
.logo {
  display: inline-block;
  line-height: 1;
  text-align: center;
  width: 100%; }

#signIn {
  text-align: right; }

.page-title {
  text-align: center; }

/* ---------- Navigation portlet ---------- */
.nav-menu ul {
  padding-left: 10px; }
.nav-menu li a.ancestor {
  font-weight: bold; }
.nav-menu li a.selected {
  color: #000;
  font-weight: bold;
  text-decoration: none; }

.nav-menu-style-modern ul {
  list-style-image: url(https://cdn.lfrs.sl/www.liferay.com/osb-community-theme/images/navigation/bullet_selected.png); }

/* ---------- Font attributes for the 'normal' fragment font ---------- */
.portlet-title {
  display: block;
  font-size: 2em;
  margin: 0; }

.portlet-content {
  font-size: medium;
  font-family: cursive; }

/************Footer***********/
#footer {
  text-align: center; }

